* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', serif;
    background: black;
    user-select: none;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    opacity: 0;
    position: absolute;
    width: 809px;
    height: 667px;
    left: calc(50% - 809px/2 + 0.5px);
    top: calc(50% - 667px/2 - 0.5px);

    background: #000000;
    box-shadow: 0 4px 40px #403F3F;
    border-radius: 30px;

    animation-name:fadeForm;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}

@keyframes fadeForm{
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.back {
    position: absolute;
    width: 59px;
    height: 38px;
    left: calc(50% - 40px/2);
    top: 450px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;

    letter-spacing: -0.022em;

    color: #565656;
}

.back_link:link {
    color: #565656;
    text-decoration: none;
}

.back_link:visited {
    color: #565656;
    text-decoration: none;
}

.back_link:hover {
    color: #3a3a3a;
    text-decoration: none;
}

.back_link:active {
    color: #3a3a3a;
    text-decoration: none;
}

.title {
    position: relative;
    width: 115px;
    height: 62px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin-left: 347px;
    line-height: 61px;
    margin-top: 107px;
    text-align: center;
    letter-spacing: -0.022em;
    color: #AEB1FE;
}

.text {
    width: 625px;
    height: 128px;
    left: calc(50% - 625px/2 + 0.5px);

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    margin-left: -250px;
    margin-top: 107px;


    text-align: center;
    letter-spacing: -0.022em;

    color: #FFFFFF;
}