.edit_account,
.edit_account_delete {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 37px;
    margin-top: 5%;
    margin-left: 87px;
    text-align: left;
    letter-spacing: -0.022em;
    color: #DCD9D9;
    user-select: none;
}

.edit_account_delete {
    margin-top: 5%;
    margin-bottom: 7%;

}

.edit_account_link:hover {
    outline: none;
    border: #696969;
    background: #595959;

}

.edit_account_delete_link,
.edit_account_link {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    letter-spacing: -0.022em;
    color: #000000;
    cursor: pointer;
    width: 426px;
    height: 45px;
    background: #484848;
    border-radius: 30px;
    border: 0 solid #484848;
}

.edit_account_delete_link:hover {
    outline: none;
    border: #2a0000;
    background: #2a0000;
    color: #7a7a7a;
}
