* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', serif;
    background: black;
    user-select: none;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    animation-name:fadeForm;
    animation-duration:0.7s;
    animation-timing-function:ease-in-out;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}

@keyframes fadeForm{
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.text {
    margin-top: 80px;
    margin-left: 160px;
}

.text_welcome {
    /* Welcome to Metro! */
    width: auto;
    height: 49px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;

}

.text_description {
    font-family: 'Montserrat', serif;
    width: 491px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 44px;
    letter-spacing: 0.028em;
    color: #FFFFFF;
    margin-top: 33px;
}

.img {
    flex: 0 0 auto;
    position: relative;
    margin-left: 40px;
    margin-top: 100px;
}

.img_account {
    flex: 0 0 auto;
    position: relative;
    margin-left: -40px;
    margin-top: 80px;
}

.line {
    vertical-align: middle;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: -0.022em;
    color: #A7A7A7;
}

.line_favorite {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #eeeded;
}

.line_favorite_link:link {
    color: #eeeded;
    text-decoration: none;
}

.line_favorite_link:visited {
    color: #eeeded;
    text-decoration: none;
}

.line_favorite_link:hover {
    color: #b0b0b0;
    text-decoration: none;
}

.line_favorite_link:active {
    color: #b0b0b0;
    text-decoration: none;
}

.choose_line {
    margin-top: 100px;
}
