<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Metro</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<form th:action="@{/registration}" method="POST">
    <main>
        <div class="register_container">
            <div class="logo">
                <div class="image_logo">
                    <a href=""><img src="./images/Cross.png"
                                    alt="Cross"></a>
                </div>
                <div class="image_logo">
                    <a href="" class="image_logo_link"><img src="./images/Logo.png"
                                                            alt="Logo"></a>
                </div>
            </div>
            <div class="form_title">
                Join Metro!
            </div>
            <div class="text-field text-field_floating">
                <input class="text-field__input" type="text" id="email" placeholder="Username" maxlength="20">
                <label class="text-field__label" for="email">Username</label>
            </div>
            <div class="text-field text-field_floating">
                <input class="text-field__input" type="password" id="password" placeholder="Password">
                <label class="text-field__label" for="email">Password</label>
            </div>
            <div class="text-field text-field_floating">
                <input class="text-field__input" type="password" id="confirm" placeholder="Confirm password">
                <label class="text-field__label" for="email">Confirm password</label>
            </div>
            <div class="form_buttons">
                <input type="submit" value="SignUp" class="button"/>
            </div>
            <div class="not_account">
                Already have an account?<a th:href="@{/login}" class="not_account_link"> Enter</a>
            </div>
        </div>
    </main>
</form>
</body>
</html>