<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Metro</title>
    <link rel="stylesheet" type="text/css" href="../static/css/account.css" th:href="@{/css/account.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap"
          rel="stylesheet">
    <script>
        function deleteConfig() {
            return confirm("Are you sure you want to delete your account?");
        }
    </script>
</head>
<body>
<main>
    <div class="register_container">
        <div class="logo">
            <div class="image_logo">
                <a th:href="@{/}"><img th:src="@{/images/cross.png}"
                                       alt="Cross"></a>
            </div>
            <div class="form_account">
                Account
            </div>
        </div>
        <div class="edit_account">
            <form th:action="@{/users/account/{id}(id=${user.getId()})}">
                <input class="edit_account_link" type="submit" value="Edit account"/>
            </form>
        </div>
        <form th:action="@{/users/account/delete/{id}(id=${user.getId()})}" method="POST">
            <div class="edit_account_delete">
                <input onclick="return deleteConfig()"
                       class="edit_account_delete_link" type="submit" value="Delete account"/>
            </div>
        </form>
    </div>
</main>
</body>
</html>