<div th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <div class="footer_img">
                <img th:src="@{/images/footer_logo.png}" alt="Logo">
            </div>
            <div class="footer_description">
                <div class="footer_links">
                    <a th:href="@{/users/account/}" class="footer_links_text">Account</a>
                </div>
                <div class="footer_links">
                    <a th:href="@{/about}" class="footer_links_text">About Us</a>
                </div>
                <div class="footer_links">
                    <a th:href="@{/}" class="footer_links_text">Choose the line</a>
                </div>
            </div>
            <div class="footer_img">
                <div class="footer_mail">
                    <img th:src="@{/images/mail_item.png}" alt="Mail">
                </div>
                <div class="footer_mail">
                    <div class="footer_mail_text">
                        <a href="mailto:metro@yahoo.com" class="footer_links_text">metro@yahoo.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright_text">
                <div class="copyright_github">
                    Works on Open Source <a href="https://github.com/alexeyburak/metro"
                                            class="copyright_github_text">GitHub</a>
                </div>
            </div>
            <div class="copyright_text">
                <div class="copyright_year">
                    © 2022 Metro
                </div>
            </div>
        </div>
    </footer>
</div>
